<%= @user.name %>(<%= @user.email %>)様

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>
  <%= link_to "こちらのリンクからパスワードの再発行を行ってください。", edit_password_reset_url(@user.reset_password_token) %>
</p>

<p>このメールに心当たりのない方は、メールを破棄して頂きますようお願い致します。</p>

<p>積みログ | 積読本解消のための読書管理カレンダーアプリ</p>
