<%= @user.name %>(<%= @user.email %>)様

<p>パスワード再発行のご依頼を受け付けました。</p>

<p>以下のリンクからパスワードの再発行を行ってください。</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>このメールに心当たりのない方は、メールを破棄して頂きますようお願い致します。</p>

<p>tsumilog | 目標管理作成アプリ</p>
