<div class="navbar bg-base-100">
  <div class="flex-1">
      <a class="normal-case text-2xl" href="#">ゆめログ</a>
  </div>
  <div class="flex-none">
    <div>
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle" >
        <div class="w-8">
          <%= image_tag "index.png" %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle">
        <div class="w-5 rounded-full">
          <%= image_tag "guide.png" %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle">
        <div class="w-8 rounded-full">
          <%= image_tag "login.png" %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle">
        <div class="w-7 rounded-full">
          <%= image_tag "signup.png", class: 'w-12', alt: "新規登録アイコン" %>
        </div>
      </label>
    </div>
  </div>
</div>
