<div class="navbar bg-base-100 h-20">
  <div class="flex-1">
      <a class="normal-case text-2xl" href="#">ゆめログ</a>
  </div>
  <div class="flex-none">
    <div class="dropdown dropdown-end mr-3">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-14 pl-1">
        <div class="rounded-full">
          <%= image_tag "index.png", alt: "投稿一覧アイコン" %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-14 pl-1">
        <div class="rounded-full">
          <%= image_tag "calendar.png", alt: "カレンダーアイコン" %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-16 pl-4">
        <div class="rounded-full">
          <%= image_tag "guide.png", alt: "クイックガイドアイコン" %>
        </div>
      </label>
    </div>
    <div class="dropdown dropdown-end">
      <label tabindex="0" class="btn btn-ghost hover:bg-blue-100 btn-circle w-14 pl-1">
        <div class="rounded-full">
          <%= image_tag "logout.png", class: 'w-12', alt: "ログアウトアイコン" %>
        </div>
      </label>
    </div>
  </div>
</div>
