<% set_meta_tags og: { image: "https://www.tsumilog.net#{image_log_path}" } %>
<div style="background-color: #f9fcff;">
  <div class="flex items-center justify-center">
    <%= image_tag(image_log_path(id: @log.id), alt: "Generated Image") %>
  </div>
</div>
