<% content_for(:title, t('.top_title')) %>

<div class="min-h-screen py-6 justify-center sm:py-12" style="background-color: #f9fcff;">
  <h1 class="font-bold text-center text-2xl md:text-4xl" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">LINE 通知設定</h1>
  <div class="py-3 sm:max-w-xl sm:mx-auto mx-4">
    <div class="px-4 py-10 shadow-lg sm:rounded-3xl sm:p-20 rounded-lg bg-blue-50">
      <div class="flex justify-center items-center mt-12 ml-8">
        <%= link_to calendars_path do %>
          <div class="hover:underline flex flex-col justify-center items-center space-y-2">
            <%= image_tag "header_calendar.png", alt: "カレンダーアイコン" %>
            <span class="md:font-extrabold text-xs" style="font-family: 'Gen Jyuu Gothic XP', sans-serif;">カレンダー画面へ</span>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>
