<div class="p-3 my-4 bg-white border border-gray-200 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-700">
  <div class="flex justify-between">
    <h5 class="justify-start float-left mb-2 text-xl font-semibold tracking-tight text-gray-600 dark:text-white"><%= habit.title %></h5>
    <div class="justify-end">
      <%= link_to "編集", edit_habit_path(habit), class: "float-left bg-transparent hover:bg-blue-500 text-blue-500 font-semibold hover:text-white py-1 px-1 border border-blue-500 hover:border-transparent rounded text-sm mr-2" %>
      <%= link_to "削除", habit_path(habit), data: { turbo_method: :delete, turbo_confirm: t('defaults.message.delete_confirm') }, class: "float-left bg-transparent hover:bg-red-500 text-red-400 font-semibold hover:text-white py-1 px-1 border border-red-500 hover:border-transparent rounded text-sm" %>
    </div>
  </div>
  <div class="flex justify-between mb-3 font-normal text-gray-600 dark:text-gray-400 text-sm">
    <div>開始日 : 2023年1月1日</div>
    <div>残り目標日数 : あと30日</div>
    <div>残りページ : 30ページ</div>
  </div>
  <p class="font-normal text-gray-600 dark:text-gray-400">URL : https//</p>
  <%= link_to habit_memos_path(habit), class: "inline-flex items-center font-normal text-gray-600 dark:text-gray-400 hover:underline" do %>
      <span>勉強メモ</span>
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 ml-2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 002.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 00-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25zM6.75 12h.008v.008H6.75V12zm0 3h.008v.008H6.75V15zm0 3h.008v.008H6.75V18z" />
      </svg>
  <% end %>
  <div class="font-normal text-gray-600 dark:text-gray-400 mt-10">
    <div class="float-left mr-5">目標総日数 : 60日</div>
    <div>総ページ数 : 400ページ</div>
  </div>
  <input type="range" min="0" max="100" value="40" className="range range-primary" />
</div>
