<% content_for(:title, t('.title')) %>
<div class="bg-white py-6 justify-center sm:py-12">
  <div class="sm:max-w-xl sm:mx-auto mx-3">
    <div class="px-4 bg-blue-50 shadow-lg sm:rounded-3xl sm:p-20">
      <h1 class="text-2xl font-semibold text-center mb-6">メモ</h1>
      <div class="my-6">
        <label for="title" class="block mb-10 text-gray-600 dark:text-white font-bold">タイトル : <%= @study.title %></span></label>
      </div>
      <div class="text-center">
        <%= link_to (t 'defaults.add'), new_study_memo_path, class: "py-3 px-8 bg-blue-600 text-white font-bold mt-6 rounded-lg" %>
      </div>
    </div>
  </div>
</div>
